/*
 * Copyright (c) 2021-2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>
#include "keys_de.h"

#define QWERTZ_L 0
#define NAV_L    1
#define SYM_L    2
#define ADJ_L    3
#define UML_L    4
#define COLEMK_L 5
#define UMLQ_L   6
#define Undo   LC(Z)
#define Cut    LC(X)
#define Copy   LC(C)
#define Paste  LC(V)
#define Redo   LC(Y)

/ {
    conditional_layers { compatible = "zmk,conditional-layers"; };

    behaviors {
        LALT_LGUI: LALT_LGUI {
            compatible = "zmk,behavior-tap-dance";
            label = "LALT_LGUI";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT>, <&kp LEFT_GUI>;
        };

        RALT_RGUI: RALT_RGUI {
            compatible = "zmk,behavior-tap-dance";
            label = "RALT_RGUI";
            #binding-cells = <0>;
            bindings = <&kp RIGHT_ALT>, <&kp RIGHT_GUI>;
        };

        COMMA_SEMICOLON: COMMA_SEMICOLON {
            compatible = "zmk,behavior-tap-dance";
            label = "COMMA_SEMICOLON";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp SEMICOLON>;
        };

        PERIOD_COLON: PERIOD_COLON {
            compatible = "zmk,behavior-tap-dance";
            label = "PERIOD_COLON";
            #binding-cells = <0>;
            bindings = <&kp PERIOD>, <&kp COLON>;
        };

        QUESTION_PIPE: QUESTION_PIPE {
            compatible = "zmk,behavior-tap-dance";
            label = "QUESTION_PIPE";
            #binding-cells = <0>;
            bindings = <&kp QUESTION>, <&kp PIPE>;
        };

        OPEN_PAREN_SQBRKT: OPEN_PAREN_SQBRKT {
            compatible = "zmk,behavior-tap-dance";
            label = "OPEN_PAREN_SQBRKT";
            #binding-cells = <0>;
            bindings = <&kp LEFT_PARENTHESIS>, <&kp LEFT_BRACKET>;
        };

        CLOSE_PAREN_SQBRKT: CLOSE_PAREN_SQBRKT {
            compatible = "zmk,behavior-tap-dance";
            label = "CLOSE_PAREN_SQBRKT";
            #binding-cells = <0>;
            bindings = <&kp RIGHT_PARENTHESIS>, <&kp RIGHT_BRACKET>;
        };

        BACKSPACE_DELETE: BACKSPACE_DELETE {
            compatible = "zmk,behavior-tap-dance";
            label = "BACKSPACE_DELETE";
            #binding-cells = <0>;
            bindings = <&kp BACKSPACE>, <&kp DELETE>;
        };

        LEFT_SHIFT_CAPS: LEFT_SHIFT_CAPS {
            compatible = "zmk,behavior-tap-dance";
            label = "LEFT_SHIFT_CAPS";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPSLOCK>;
        };

        RIGHT_SHIFT_CAPS: RIGHT_SHIFT_CAPS {
            compatible = "zmk,behavior-tap-dance";
            label = "RIGHT_SHIFT_CAPS";
            #binding-cells = <0>;
            bindings = <&kp RIGHT_SHIFT>, <&kp CAPSLOCK>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        home_layer {
            /* QWERTZ
 * -------------------------------------------------------------------------------------------------------------------------------------
 * | `     |   Q   |   W   |   E   |   R   |   T   |-----------------------------------|   Z   |   U   |   I   |   O   |   P   | BKSPC |
 * | TAB   |   A   |   S   |   D   |   F   |   G   |-----------------------------------|   H   |   J   |   K   |   L   |   ;   | ENTER |
 * | CTRL  |   Y   |   X   |   C   |   V   |   B   |  ESC  |-------------------|  Uml  |   N   |   M   |   ,   |   .   |   /   |   '   |
 *                                 |  GUI  |  CTRL | ENTER |  Sym  |---|  Nav  | SPACE | SHIFT | BKSPC |
 */

            bindings = <
&mt ESCAPE TAB    &kp Q  &kp W  &kp E  &kp R       &kp T                                                       &kp Y      &kp U       &kp I             &kp O          &kp P           &BACKSPACE_DELETE
&LEFT_SHIFT_CAPS  &kp A  &kp S  &kp D  &kp F       &kp G                                                       &kp H      &kp J       &kp K             &kp L          &kp APOSTROPHE  &RIGHT_SHIFT_CAPS
&kp LCTRL         &kp Z  &kp X  &kp C  &kp V       &kp B      &to 1                                   &to 2    &kp N      &kp M       &COMMA_SEMICOLON  &PERIOD_COLON  &QUESTION_PIPE  &kp RCTRL
                                       &LALT_LGUI  &kp ENTER  &kp HOME  &kp PAGE_UP    &kp PAGE_DOWN  &kp END  &kp SPACE  &RALT_RGUI
            >;
        };

        numsym_layer {
            /* SYM
 * -------------------------------------------------------------------------------------------------------------------------------------
 * |       |   !   |   @   |   #   |   $   |   %   |-----------------------------------|   ^   |   &   |   *   |   (   |   )   |       |
 * |       |   1   |   2   |   3   |   4   |   5   |-----------------------------------|   6   |   7   |   8   |   9   |   0   |       |
 * |       |   ?   |   -   |   +   |   [   |   {   |       |-------------------|       |   }   |   ]   |       |       |       |   =   |
 *                                 |       |       |       |  ADJ_L |---|      |       |       |       |
 */

            bindings = <
&trans  &kp NUMBER_1     &kp NUMBER_2     &kp NUMBER_3  &kp NUMBER_4        &kp NUMBER_5                                     &kp NUMBER_6      &kp NUMBER_7         &kp NUMBER_8    &kp NUMBER_9     &kp NUMBER_0  &trans
&trans  &kp PRINTSCREEN  &kp PAUSE_BREAK  &kp INSERT    &OPEN_PAREN_SQBRKT  &kp BACKSLASH                                    &kp SLASH         &CLOSE_PAREN_SQBRKT  &kp UP_ARROW    &kp MINUS        &kp EQUAL     &trans
&trans  &trans           &trans           &trans        &trans              &kp LESS_THAN  &to 2                     &to 0   &kp GREATER_THAN  &kp LEFT_ARROW       &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans        &trans
                                                        &trans              &trans         &trans  &trans    &trans  &trans  &trans            &trans
            >;
        };

        func_layer {
            /* ADJUST
 * -------------------------------------------------------------------------------------------------------------------------------------
 * | RESET |  F9   |  F10  |  F11  |  F12  |       |-----------------------------------| CMK   | QWERTZ|       |       |       | RESET |
 * |       |  F5   |  F6   |  F7   |  F8   |       |-----------------------------------| BT 0  |  BT 1 | BT 2  |       |       |       |
 * |       |  F1   |  F2   |  F3   |  F4   |       |BT CLR |-------------------| CAPS  |OUT_BLE|OUT_USB|       |       |       | BOOTL |
 *                                 |       |       |       |       |---|       |       |       |       |
 */

            bindings = <
&rgb_ug RGB_EFF  &rgb_ug RGB_SAI  &rgb_ug RGB_HUI  &rgb_ug RGB_BRI  &rgb_ug RGB_ON  &rgb_ug RGB_COLOR_HSB(47,100,50)                                    &rgb_ug RGB_COLOR_HSB(91,100,31)  &rgb_ug RGB_OFF  &rgb_ug RGB_BRD  &rgb_ug RGB_HUD  &rgb_ug RGB_SAD  &rgb_ug RGB_EFR
&none            &kp F2           &kp F3           &kp F4           &kp F5          &kp F6                                                              &kp F7                            &kp F8           &kp F9           &kp F10          &kp F11          &kp F12
&sys_reset       &bt BT_SEL 0     &bt BT_SEL 1     &bt BT_SEL 2     &bt BT_SEL 3    &bt BT_SEL 4                      &to 0                     &to 1   &bt BT_CLR_ALL                    &none            &none            &none            &none            &bootloader
                                                                    &trans          &trans                            &trans  &trans    &trans  &trans  &trans                            &trans
            >;
        };
    };
};
