/*
 * Copyright (c) 2021-2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>
#include "keys_de.h"

#define QWERTZ_L 0
#define NAV_L    1
#define SYM_L    2
#define ADJ_L    3
#define UML_L    4
#define COLEMK_L 5
#define UMLQ_L   6
#define Undo   LC(Z)
#define Cut    LC(X)
#define Copy   LC(C)
#define Paste  LC(V)
#define Redo   LC(Y)

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <1 1>;
            then-layer = <2>;
        };
    };

    behaviors {
        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&sk LSHIFT>, <&caps_word>, <&kp CAPS>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Home {
            /* QWERTZ
 * -------------------------------------------------------------------------------------------------------------------------------------
 * | `     |   Q   |   W   |   E   |   R   |   T   |-----------------------------------|   Z   |   U   |   I   |   O   |   P   | BKSPC |
 * | TAB   |   A   |   S   |   D   |   F   |   G   |-----------------------------------|   H   |   J   |   K   |   L   |   ;   | ENTER |
 * | CTRL  |   Y   |   X   |   C   |   V   |   B   |  ESC  |-------------------|  Uml  |   N   |   M   |   ,   |   .   |   /   |   '   |
 *                                 |  GUI  |  CTRL | ENTER |  Sym  |---|  Nav  | SPACE | SHIFT | BKSPC |
 */

            bindings = <
&kp TAB     &kp Q  &kp W  &kp E  &kp R     &kp T                                                 &kp Y      &kp U     &kp I      &kp O    &kp P           &kp BACKSPACE
&kp LSHIFT  &kp A  &kp S  &kp D  &kp F     &kp G                                                 &kp H      &kp J     &kp K      &kp L    &kp APOSTROPHE  &kp RSHIFT
&kp LCTRL   &kp Z  &kp X  &kp C  &kp V     &kp B      &to 1                             &to 3    &kp N      &kp M     &kp COMMA  &kp DOT  &kp FSLH        &kp RCTRL
                                 &kp LALT  &kp ENTER  &kp HOME  &kp PG_UP    &kp PG_DN  &kp END  &kp SPACE  &kp RALT
            >;
        };

        NumSym {
            /* SYM
 * -------------------------------------------------------------------------------------------------------------------------------------
 * |       |   !   |   @   |   #   |   $   |   %   |-----------------------------------|   ^   |   &   |   *   |   (   |   )   |       |
 * |       |   1   |   2   |   3   |   4   |   5   |-----------------------------------|   6   |   7   |   8   |   9   |   0   |       |
 * |       |   ?   |   -   |   +   |   [   |   {   |       |-------------------|       |   }   |   ]   |       |       |       |   =   |
 *                                 |       |       |       |  ADJ_L |---|      |       |       |       |
 */

            bindings = <
&trans  &kp DE_EXCL  &kp DE_AT  &kp DE_HASH  &kp DE_DLLR  &kp DE_PRCNT                                    &kp DE_CARET  &kp DE_AMPS  &kp DE_ASTRK  &kp MINUS  &kp EQUAL  &trans
&trans  &kp N1       &kp N2     &kp N3       &kp N4       &kp N5                                          &kp N6        &kp N7       &kp N8        &kp N9     &kp N0     &trans
&trans  &trans       &trans     &trans       &trans       &trans        &tog 2                    &to 0   &trans        &trans       &trans        &trans     &trans     &trans
                                             &trans       &trans        &trans  &trans    &trans  &trans  &trans        &trans
            >;
        };

        FuncSym {
            /* ADJUST
 * -------------------------------------------------------------------------------------------------------------------------------------
 * | RESET |  F9   |  F10  |  F11  |  F12  |       |-----------------------------------| CMK   | QWERTZ|       |       |       | RESET |
 * |       |  F5   |  F6   |  F7   |  F8   |       |-----------------------------------| BT 0  |  BT 1 | BT 2  |       |       |       |
 * |       |  F1   |  F2   |  F3   |  F4   |       |BT CLR |-------------------| CAPS  |OUT_BLE|OUT_USB|       |       |       | BOOTL |
 *                                 |       |       |       |       |---|       |       |       |       |
 */

            bindings = <
&kp F1      &kp F2         &kp F3        &kp F4          &kp F5                &kp F6                                              &kp F7             &kp F8                 &kp F9           &kp F10           &kp F11    &kp F12
&trans      &kp BACKSLASH  &kp LT        &kp LEFT_BRACE  &kp LEFT_PARENTHESIS  &kp LEFT_BRACKET                                    &kp RIGHT_BRACKET  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACE  &kp GREATER_THAN  &kp SLASH  &trans
&sys_reset  &bt BT_SEL 0   &bt BT_SEL 1  &bt BT_SEL 2    &bt BT_SEL 3          &bt BT_SEL 4      &to 3                     &to 1   &out OUT_BLE       &out OUT_USB           &none            &none             &none      &bootloader
                                                         &trans                &trans            &trans  &trans    &trans  &trans  &trans             &trans
            >;
        };

        LEDs {
            bindings = <
&trans  &trans           &trans           &trans           &trans           &trans                                                              &trans                             &trans           &trans           &trans           &trans           &trans
&trans  &rgb_ug RGB_SAI  &rgb_ug RGB_HUI  &rgb_ug RGB_BRI  &rgb_ug RGB_ON   &rgb_ug RGB_COLOR_HSB(51,100,50)                                    &rgb_ug RGB_COLOR_HSB(119,100,42)  &rgb_ug RGB_OFF  &rgb_ug RGB_BRD  &rgb_ug RGB_HUD  &rgb_ug RGB_SAD  &trans
&trans  &trans           &trans           &rgb_ug RGB_SPI  &rgb_ug RGB_EFF  &trans                            &to 0                     &to 2   &trans                             &rgb_ug RGB_EFR  &rgb_ug RGB_SPD  &trans           &trans           &trans
                                                           &trans           &trans                            &trans  &trans    &trans  &trans  &trans                             &trans
            >;
        };
    };
};
